## Projet Booking / Kayak - Web scraping et ETL

<img src="https://media.ouest-france.fr/v1/pictures/MjAyMTA3YjlmZTc0YzQzZmIzOTBjNjM5MjhjNjMwNzgzZjkyYmU?width=1260&height=708&focuspoint=50%2C25&cropresize=1&client_id=bpeditorial&sign=fc1fb749cc2dc25d635de6d861c27aef9718892dd8030564655c2b3259437b4d" width='600px'>

In [19]:
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default = 'iframe_connected'
import plotly.express as px
import requests
import re
from math import *
import pandas as pd
import json

## Scraping de Booking avec Scrapy

In [ ]:
pip install scrapy

In [ ]:
headers = {
    'Connection': 'keep-alive',
    'sec-ch-ua': '^\\^',
    'sec-ch-ua-mobile': '?0',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'Sec-Fetch-Site': 'none',
    'Sec-Fetch-Mode': 'navigate',
    'Sec-Fetch-User': '?1',
    'Sec-Fetch-Dest': 'document',
    'Accept-Language': 'fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7',
}

import os 
import logging
import scrapy
from scrapy.crawler import CrawlerProcess
from scrapy.shell import inspect_response

class Booking(scrapy.Spider):
    name = "Booking"
    cities = ["Mont-Saint-Michel","St-Malo", "Bayeux","Le-Havre","Rouen","Paris","Amiens","Lille","Strasbourg",
"Chateau-du-Haut-Koenigsbourg","Colmar","Eguisheim","Besancon","Dijon","Annecy","Grenoble","Lyon",
"Gorges-du-Verdon","Bormes-les-Mimosas","Cassis","Marseille","Aix-en-Provence","Avignon","Uzes","Nimes",
"Aigues-Mortes","Saintes-Maries-de-la-mer","Collioure","Carcassonne","Ariege","Toulouse","Montauban","Biarritz",
"Bayonne","La-Rochelle"]
    
    def start_requests(self):
        start_urls = [f'https://www.booking.com/searchresults.fr.html?ss={i}&rows=25&offset=0&order=score' for i in self.cities]
        for url in start_urls:
            yield scrapy.Request(url=url, callback=self.parse, headers=headers, 
                                 meta = {'url1' : url})

    def parse(self, response):
        url1 = response.meta['url1']
        for href in response.css("h3 > a::attr('href')"):
            link = response.urljoin(href.extract())
            if "searchresults#hotelTmpl" in link and "https://www.booking.com/hotel/fr" in link and any(i in link for i in ['hpos=' + str(i) + '&' for i in range(1,21)]):             
                yield scrapy.Request(url = link, callback = self.parse2, headers=headers, 
                                 meta={'url1' : url1})

    def parse2(self, response):
        url1 = response.meta['url1']
        hotels = response.xpath("//h2[@class='hp__hotel-name']")
        adresses = response.xpath("//p[@class='address address_clean']/span")
        ratings = response.xpath("//div[@class='b5cd09854e d10a6220b4']")
        raters = response.xpath("//div[@class='d8eab2cf7f c90c0a70d3 db63693c62']")
        latlon = response.xpath("//a[@id='hotel_address']")
        desc = response.xpath("//div[@id='property_description_content']")
        for i in range(len(hotels)):
            yield{
                'adresse': adresses[i].css('::text').extract()[0].strip(),
                'url1' : url1,
                'url': response.url,
                'name': hotels[i].css('::text').extract()[2].strip(),
                'rater': raters[i].css('::text').extract()[0].strip(),  
                'rating': ratings[i].css('::text').extract(), 
                'latlong': latlon[i].css('::attr("data-atlas-latlng")').extract(),
                'description': desc[i].css('::text').extract()    
            }
                
# Name of the file where the results will be saved
filename = "data_hotels.json"

# If file already exists, delete it before crawling 
if filename in os.listdir('/'):
        os.remove('/' + filename)

process = CrawlerProcess(settings = {
    'USER_AGENT': 'custom user agent',
    'LOG_LEVEL': logging.INFO,
    "FEEDS": {
        'src/' + filename : {"format": "json"},
    }
})

# Start the crawling using the spider you defined above
process.crawl(Booking)
process.start()

In [38]:
pd.read_json('data_hotels.json')

,adresse,url1,url,name,rater,rating,latlong,description
0,"28 route de la Rive, 50170 Ardevon, France",https://www.booking.com/searchresults.fr.html?...,https://www.booking.com/hotel/fr/mon-saint-mic...,B&B / Chambre d'hôtes,406 expériences vécues,"[8,8]","[48.61362700,-1.48579100]","[\n, \n, Vous pouvez bénéficier d'une réductio..."
1,"7 Rue de la Krutenau, 67000 Strasbourg, France",https://www.booking.com/searchresults.fr.html?...,https://www.booking.com/hotel/fr/the-people-ho...,Auberge de jeunesse,2 158 expériences vécues,"[8,4]","[48.58119500,7.75731800]","[\n, \n, Vous pouvez bénéficier d'une réductio..."
2,"Allée de l'Impérial, 74000 Annecy, France",https://www.booking.com/searchresults.fr.html?...,https://www.booking.com/hotel/fr/imperial-pala...,Hôtel,1 469 expériences vécues,"[8,6]","[45.90374699,6.14469409]","[\n, Cet établissement est à 2 minutes à pied ..."
3,"4 et 6 passage Thurot, 21000 Dijon, France",https://www.booking.com/searchresults.fr.html?...,https://www.booking.com/hotel/fr/le-thurot-dij...,Hôtel,1 492 expériences vécues,"[7,3]","[47.32660499,5.02834596]","[\n, \n, Vous pouvez bénéficier d'une réductio..."
4,"15 Rue Saint-Clair, 13260 Cassis, France",https://www.booking.com/searchresults.fr.html?...,https://www.booking.com/hotel/fr/le-saint-clai...,Appartement,29 expériences vécues,"[7,8]","[43.21494430,5.53606703]","[\n, Situé à Cassis, à moins de 200 mètres de ..."
...,...,...,...,...,...,...,...,...
126,"22 rue Harispe 1er étage, porte à droite, 6420...",https://www.booking.com/searchresults.fr.html?...,https://www.booking.com/hotel/fr/little-bibi-2...,Appartement,5 expériences vécues,"[9,2]","[43.47365025,-1.56562025]","[\n, \n, Vous pouvez bénéficier d'une réductio..."
127,"230 Avenue des Etats-Unis, 31200 Toulouse, France",https://www.booking.com/searchresults.fr.html?...,https://www.booking.com/hotel/fr/des-etats-uni...,Hôtel,893 expériences vécues,"[7,1]","[43.64579209,1.42683864]","[\n, L'hôtel Des États-Unis est situé au nord ..."
128,"112 bat N ""la cobla"" immeuble D1 Résidence Val...",https://www.booking.com/searchresults.fr.html?...,https://www.booking.com/hotel/fr/collioure-tre...,Appartement,46 expériences vécues,"[8,8]","[42.52240860,3.08694090]","[\n, Cet établissement est à 2 minutes à pied ..."
129,"Route de Port-Vendres, 66190 Collioure, France",https://www.booking.com/searchresults.fr.html?...,https://www.booking.com/hotel/fr/les-roches-br...,Hôtel,431 expériences vécues,"[9,1]","[42.52534777,3.09032446]","[\n, \n, Vous pouvez bénéficier d'une réductio..."
130,"31 Avenue Gilbert Leroy, 13460 Les Saintes-Mar...",https://www.booking.com/searchresults.fr.html?...,https://www.booking.com/hotel/fr/le-dauphin-bl...,Hôtel,1 014 expériences vécues,"[8,5]","[43.45233086,4.43364993]","[\n, Cet établissement est à 1 minute à pied d..."

In [48]:
df.latlong[0][0].split(',')

['48.61362700', '-1.48579100']

In [51]:
df = pd.read_json('data_hotels.json', lines=False)
df['ville'] = ''
df['lat'] = ''
df['long'] = ''
for i in range(len(df)):
    df.ville[i] = re.search("ss=(.+?)&rows",df.url1[i]).group(1).capitalize()
    df.rating[i] = float(df.rating[i][0].replace(",", "."))
    df.rater[i] = df.rater[i]
    df.lat[i] = float(df.latlong[0][0].split(',')[0])
    df.long[i] = float(df.latlong[0][0].split(',')[1])
df.drop(['url','url1'], axis = 1, inplace=True)
df.to_json('data_hotels_cleaned.json', orient='columns')

In [20]:
df_final = pd.read_json('data_hotels_cleaned.json', lines=True)
df_final

,adresse,name,rater,rating,ville,lat,lon
0,"2, Rue des Marins, Intra muros, 35400 Saint-Ma...","The Originals Boutique, Hôtel des Marins, Sain...",877 expériences vécues,8.6,St Malo,48.648808,-2.024912
1,"7, Rue Jean XXIII, Saint-Servan, 35400 Saint-M...",Malouinière Le Valmarin,431 expériences vécues,8.2,St Malo,48.634373,-2.018166
2,Avenue du General De Gaulle / Impasse de La Pe...,ibis Saint-Malo Madeleine,1 780 expériences vécues,7.8,St Malo,48.625977,-1.990328
3,"44 Boulevard de Beauvillé, 80000 Amiens, France",LA BERGE,3 expériences vécues,9.0,Amiens,49.896103,2.310790
4,"35 rue du Chapitre, Saint-Servan, 35400 Saint-...",L'Hôtel Particulier Ascott,882 expériences vécues,9.2,St Malo,48.631126,-2.010825
...,...,...,...,...,...,...,...
653,"17 Rue de L'ouvrage à Cornes, 17000 La Rochell...",Best Western Premier Masqhotel,1 442 expériences vécues,8.6,La Rochelle,46.154840,-1.145056
654,"66, boulevard Winston Churchill Port neuf, 17...",Hôtel Le Rochelois,3 060 expériences vécues,8.0,La Rochelle,46.154182,-1.182437
655,"33 avenue du docteur planet, 17000 La Rochelle...",ATHOME RESIDENCE ET SPA,1 739 expériences vécues,8.2,La Rochelle,46.145996,-1.152398
656,"14, quai de Marans, 17000 La Rochelle, France",Résidence Pierre & Vacances Centre,1 052 expériences vécues,7.4,La Rochelle,46.155770,-1.146392
657,"36 Avenue Amerigo Vespucci, 17000 La Rochelle,...",Lagrange Apart'Hotel l’Escale Marine,5 792 expériences vécues,7.2,La Rochelle,46.151070,-1.154863

## Utilisation API MétéoConcept et Mapbox
Pour l'utilisation des cartes avec <b>Plotly</b>, j'ai utilisé le service de Mapbox qui permet d'obtenir des cartes personnalisées <br/>
Pour la météo, j'ai choisi l'API de <b>MétéoConcept</b> (gratuite) qui permet de récupérer des données en temps réel et aussi sur 14 jours

In [21]:
token = 'pk.eyJ1IjoieWFubm91c2giLCJhIjoiY2t6ZTc5ZjRnMGY0djJ1b2NmbXR2OXlhcSJ9.TyZxcshIKgaeIkY9p5LkdQ'

In [22]:
fig = px.scatter_mapbox(df_final, lat="lat", 
                        lon="lon",
                        hover_name=df_final['name'], 
                        zoom=4, 
                        color=df_final['rating'])
fig.update_layout(
    mapbox_style="mapbox://styles/yannoush/ckze79qfr007714qekbj3styn", showlegend=False, mapbox_accesstoken=token, title='Hôtels des 35 villes les plus visitées de France',title_x=0.5)
fig.show()

In [25]:
villes_insee = [50353,35288,14047,76351,76540,75101,80021,59350,67482,67362,68066,68078,25056,21231,74010,38185,
69381,83019,13022,13201,13001,84007,30334,30189,30003,13096,66053,11069,31555,82121,64122,64102,17300]

meteo_liste = []
for x in villes_insee:
    response = requests.get('https://api.meteo-concept.com/api/forecast/daily/0?token=f454f3c826fbd1cdbc876142c58201f98e13861e4d2ef76f299f6fa8e867b43f&insee={}'.format(x))
    meteo = json.loads(response.content)
    meteo_liste.append(meteo)
response = requests.get('https://api.meteo-concept.com/api/forecast/daily/0?token=f454f3c826fbd1cdbc876142c58201f98e13861e4d2ef76f299f6fa8e867b43f&insee=04186')
meteo = json.loads(response.content)
meteo_liste.append(meteo)
response = requests.get('https://api.meteo-concept.com/api/forecast/daily/0?token=f454f3c826fbd1cdbc876142c58201f98e13861e4d2ef76f299f6fa8e867b43f&insee=09122')
meteo = json.loads(response.content)
meteo_liste.append(meteo)

In [26]:
meteo_bis = []
villes_meteo = []
for i in range(0, len(meteo_liste)):
    meteo_bis.append(meteo_liste[i]['forecast'])
    villes_meteo.append(meteo_liste[i]['city']['name'])
pluie = {}

icon_list = []
transi = ''
j = 0
for i in df_meteo['probarain']:
    if i > 70:
        icon_list.append("🌧")
    if i >= 30:
        icon_list.append('⛅')
    else:
        icon_list.append('🌞')
    if df_meteo['wind10m'][j] > 50:
        transi = icon_list[j]
        icon_list[j] = transi + " 💨"
    j+= 1
fig_meteo = go.Figure(go.Scattermapbox(lat=df_meteo["latitude"], 
                        lon=df_meteo["longitude"],
                        mode='markers',
                        marker=go.scattermapbox.Marker(size=12, color =  df_meteo['tmax'], colorscale = 'Blackbody_r'),
                        hoverinfo="text",
                        textposition='top right',
                        textfont=dict(size=20, color='black'),
                        text=[icon_list[i]+ '<br>' + df_meteo['ville'][i] + '<br>' + str(df_meteo['tmax'][i])+"°C" + '<br>' for i in range(df_meteo.shape[0])]))
fig_meteo.update_layout(mapbox_style="mapbox://styles/yannoush/ckze79qfr007714qekbj3styn", showlegend=False, mapbox_accesstoken=token, hoverlabel=dict(font_size=20), title='Météo des 35 villes les plus visitées de France', title_x=0.5)
fig_meteo.show()

## Récupération de la meilleure ville pour voyager

#### Récupération des données à la semaine

In [27]:
meteobis_liste = []

for x in villes_insee:
    response = requests.get('https://api.meteo-concept.com/api/forecast/daily?token=f454f3c826fbd1cdbc876142c58201f98e13861e4d2ef76f299f6fa8e867b43f&insee={}&start=0&end=7'.format(x))
    meteobis = json.loads(response.content)
    meteobis_liste.append(meteobis)
response = requests.get('https://api.meteo-concept.com/api/forecast/daily?token=f454f3c826fbd1cdbc876142c58201f98e13861e4d2ef76f299f6fa8e867b43f&insee=04186&start=0&end=7')
meteobis = json.loads(response.content)
meteobis_liste.append(meteobis)
response = requests.get('https://api.meteo-concept.com/api/forecast/daily?token=f454f3c826fbd1cdbc876142c58201f98e13861e4d2ef76f299f6fa8e867b43f&insee=09122&start=0&end=7')
meteobis = json.loads(response.content)
meteobis_liste.append(meteobis)

#### Création dataset pour notation du score météo
On fait une moyenne pondérée pour deux variables (temps d'ensoleillement et quantité de pluie dans les 7 prochains jours)

In [28]:
df_meteobis = pd.DataFrame(meteobis_liste)
score_meteo_sun = []
score_meteo_rain = []
for i in range(0,35):
    temp_score_sun = 0
    temp_score_rain = 0
    for j in range(0,8):
        temp_score_sun += df_meteobis['forecast'][i][j]['sun_hours']
        temp_score_rain += df_meteobis['forecast'][i][j]['rr10']
    score_meteo_sun.append(temp_score_sun)
    score_meteo_rain.append(temp_score_rain)

#### Métrique pour la notation + ranking par ville

In [29]:
max_sun = max(score_meteo_sun)
for i in range(0, len(score_meteo_sun)):
    score_meteo_sun[i] = score_meteo_sun[i]/max_sun*100
max_rain= max(score_meteo_rain)
for i in range(0, len(score_meteo_rain)):
    score_meteo_rain[i] = 100-(score_meteo_rain[i]/max_rain*100)
score_df = pd.DataFrame(score_meteo_sun, columns=['sun'])
score_df['rain'] = score_meteo_rain
score_df['note'] = [(i+j) / 20 for i,j in zip(score_meteo_sun, score_meteo_rain)]
score_df['rank'] = score_df['note'].rank(method='dense', ascending=False)

In [30]:
meteo_bis = []
villes_meteo = []
for i in range(0, len(meteo_liste)):
    meteo_bis.append(meteo_liste[i]['forecast'])
    villes_meteo.append(meteo_liste[i]['city']['name'])
pluie = {}
df_meteo = pd.DataFrame(meteo_bis)
df_meteo['weather_score'] = score_df['note']
df_meteo['ville'] = villes_meteo
df_meteo['rank'] = score_df['rank']
df_meteo.head()

,insee,cp,latitude,longitude,day,datetime,wind10m,gust10m,dirwind10m,rr10,...,sun_hours,etp,probafrost,probafog,probawind70,probawind100,gustx,weather_score,ville,rank
0,35247,35610,48.5962,-1.5934,0,2022-10-02T02:00:00+0200,15,47,232,0.4,...,2,-99,0,10,0,0,47,7.763236,Le Mont-Saint-Michel,13.0
1,35288,35400,48.6400,-1.9806,0,2022-10-02T02:00:00+0200,15,46,233,0.2,...,3,-99,0,20,0,0,46,7.589570,Saint-Malo,17.0
2,14047,14400,49.2777,-0.7046,0,2022-10-02T02:00:00+0200,15,54,241,6.5,...,1,-99,0,10,0,0,67,5.785729,Bayeux,21.0
3,76351,76600,49.4985,0.1402,0,2022-10-02T02:00:00+0200,20,69,243,10.9,...,1,-99,0,20,0,0,68,4.491441,Le Havre,27.0
4,76157,76380,49.4331,1.0136,0,2022-10-02T02:00:00+0200,10,40,245,10.1,...,1,-99,0,30,0,0,62,5.015426,Rouen,26.0

#### Affichage des hôtels de la top destination

In [31]:
lat_nice_wther = df_meteo['latitude'][df_meteo['rank'] == 1].iloc[0]
long_nice_wther = df_meteo['longitude'][df_meteo['rank'] == 1].iloc[0]
city_nice_wther = df_meteo['ville'][df_meteo['rank'] == 1].iloc[0]

In [32]:
df_meteo['ville'][3]
df_meteo['rank'][3]

27.0

In [33]:
df_meteo[df_meteo['rank'] <= 5]

,insee,cp,latitude,longitude,day,datetime,wind10m,gust10m,dirwind10m,rr10,...,sun_hours,etp,probafrost,probafog,probawind70,probawind100,gustx,weather_score,ville,rank
17,83019,83230,43.1623,6.3496,0,2022-10-02T02:00:00+0200,25,67,318,0.0,...,8,-99,0,0,0,0,67,9.921875,Bormes-les-Mimosas,2.0
18,13022,13260,43.2230,5.5512,0,2022-10-02T02:00:00+0200,20,52,309,0.0,...,8,-99,0,0,0,0,52,9.921875,Cassis,2.0
19,13201,13001,43.2999,5.3823,0,2022-10-02T02:00:00+0200,10,38,305,0.0,...,8,-99,0,0,0,0,38,10.000000,Marseille 1er Arrondissement,1.0
20,13001,13080,43.5361,5.3986,0,2022-10-02T02:00:00+0200,10,36,307,0.0,...,8,-99,0,0,0,0,36,10.000000,Aix-en-Provence,1.0
21,84007,84000,43.9352,4.8407,0,2022-10-02T02:00:00+0200,10,29,339,0.0,...,8,-99,0,0,0,0,29,9.921875,Avignon,2.0
22,30295,30700,44.0573,4.4387,0,2022-10-02T02:00:00+0200,10,41,343,0.0,...,8,-99,0,0,0,0,41,9.858181,Uzès,3.0
23,30189,30000,43.8449,4.3481,0,2022-10-02T02:00:00+0200,10,33,292,0.0,...,8,-99,0,0,0,0,33,9.921875,Nîmes,2.0
24,30003,30220,43.5507,4.1835,0,2022-10-02T02:00:00+0200,10,38,290,0.0,...,8,-99,0,0,0,0,38,9.921875,Aigues-Mortes,2.0
25,13096,13460,43.4829,4.3898,0,2022-10-02T02:00:00+0200,15,43,288,0.0,...,8,-99,0,0,0,0,43,9.921875,Saintes-Maries-de-la-Mer,2.0
29,82121,82000,44.0223,1.3641,0,2022-10-02T02:00:00+0200,5,24,266,0.0,...,5,-99,0,80,0,0,24,9.453125,Montauban,5.0
33,04158,4500,43.7081,6.0227,0,2022-10-02T02:00:00+0200,15,48,296,0.0,...,8,-99,0,0,0,0,48,9.843750,Saint-Laurent-du-Verdon,4.0

In [59]:
from datetime import date
today = date.today()

fig = px.scatter_mapbox(df_final, lat="lat", 
                        lon="lon",
                        hover_name=df_final['name'], 
                        zoom=12, 
                        color=df_final['rating'],
                        center = {'lat':lat_nice_wther,'lon':long_nice_wther},
                        title = 'Hôtels de la top destination : {} - T° = {}°C'.format(city_nice_wther, df_meteo['tmax'][df_meteo['rank'] == 1].iloc[0]))
fig.update_layout(mapbox_style="mapbox://styles/yannoush/ckze79qfr007714qekbj3styn", showlegend=False, mapbox_accesstoken=token, title_x=0.5, margin=dict(l=20, r=20, t=30, b=5))
fig.show()
print('Autres villes dans le TOP 5 des destinations pour la semaine du {} : {}'.format(today.strftime("%d/%m/%Y"),', '.join(df_meteo['ville'][(df_meteo['rank'] <= 5) & (df_meteo['rank'] > 1)].tolist()[:5])))

Autres villes dans le TOP 5 des destinations pour la semaine du 02/10/2022 : Bormes-les-Mimosas, Cassis, Avignon, Uzès, Nîmes

## ETL - Boto3, SQLAlchemy

In [ ]:
import boto3
session = boto3.Session(aws_access_key_id="JEAN_ACCESS_KEY", 
                        aws_secret_access_key="JEAN_SECRET_ACCESS_KEY")

s3 = session.resource("s3")
bucket_name =s3.create_bucket(Bucket="jedha-jean-kayak-project")

csv = df_final.to_csv()

put_object = bucket_name.put_object(Key="data_hotels_cleaned.csv", Body = csv)

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://YOUR_USERNAME:YOUR_PASSWORD@YOUR_HOSTNAME/postgres", echo=True)

from sqlalchemy.sql import text

conn = engine.connect()

df_final.to_sql("villes", engine)